body {
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #FFFFFF;
    color: #2d2d2d;
}

header {
    background-color: #00AD0D;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo img {
    height: 70px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    text-align: center;
    padding: 60px 20px;
    background-color: #d2f1c3;
    color: #1c4c25;
}

.timeline {
    border-left: 4px solid #00AD0D;
    padding-left: 20px;
    margin-top: 20px;
}

.step {
    position: relative;
    padding: 10px 0;
    margin-bottom: 10px;
}

.step strong {
    color: #00AD0D;
    margin-right: 8px;
    font-weight: bold;
}


.section {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
}

.section h2 {
    color: #00AD0D;
}

.section h3 {
    color: #00AD0D;
}

#ods ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-left: 0;
}

.img-container {
    text-align: margin-left;
    margin-top: 20px;
}

.img-container img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    background-color: #00AD0D;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
