/*cabeçalho*/

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00AD0D; 
    color: white;             
    margin: 0px;
    padding: 0 20px;
    font-family: Arial, sans-serif;
}

.logo img {
    height: 70px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.grid-menu {
    display: grid;
    grid-template-columns: 1fr auto; 
    align-items: center;           
    padding: 0 20px;
}


.texto-menu {
    padding-right: 0%;
}

.icons-menu {
    padding-left: 0%;
}

/*corpo título*/
.titulo {
    text-align: center;
    padding: 60px 20px;
    background-color: #abec8b;
    color: #1f5228;
}

.section {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
}

/*corpo*/
body {
    margin: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background-color: rgb(247, 247, 247);
    color: #2d2d2d;
}

.section h2 {
    color: #00AD0D;
}

.section h3 {
    color: #00AD0D;
}

.timeline {
    border-left: 4px solid #00AD0D;
    padding-left: 20px;
    margin-top: 20px;
}

.step {
    position: relative;
    padding: 10px 0;
    margin-bottom: 10px;
}

.step strong {
    color: #00AD0D;
    margin-right: 8px;
    font-weight: bold;
}

.grid-terreno {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
}

.texto-terreno {
    padding-right: 10px;
}

.img-terreno img {
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Responsivo para telas menores */
@media (max-width: 768px) {
    .grid-terreno {
        grid-template-columns: 1fr;
    }
}

.grid-impacto {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
}

.img-impacto img {
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
    .grid-impacto {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

.ods a {
  color: inherit;
  text-decoration: none;
}

.ods a:hover {
  color: #5f0108;
  text-decoration: underline;
}


#ods ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-left: 0;
}

.img-ods {
    text-align: center;
}

/*rodapé*/
footer {
    background-color: #00AD0D;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 80%;
}

.nomes-grid, .autoria-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: 5px 0;
}

.esquerda, .copy{
    text-align: right;
}

.divisor {
    align-items: center;
    min-width: 10px;
}

.direita, .cidade{
    text-align: left;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #5f0108;
}